{
    "extends": ["next/core-web-vitals", "prettier"],
    "plugins": ["prettier", "@typescript-eslint"],
    "rules": {
        "react/react-in-jsx-scope": "off",
        // all prettier file errors
        "prettier/prettier": "error",
        "@typescript-eslint/explicit-module-boundary-types": 0,
        "@typescript-eslint/ban-ts-ignore": 0,
        "@typescript-eslint/ban-ts-comment": 0
    }
}
